[tool.black]
line-length = 88
target-version = ["py38"]


[tool.interrogate]
ignore-init-method = true
ignore-init-module = false
ignore-magic = false
ignore-semiprivate = false
ignore-private = true
ignore-property-decorators = false
ignore-module = false
fail-under = 100
exclude = ["setup.py", "docs", "build"]
ignore-regex = ["^get$", "^mock_.*", ".*BaseClass.*"]
verbose = 2
quiet = false
whitelist-regex = []
color = true


[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q --cov=labelshift -n auto"
testpaths = [
    "tests",
]

[tool.coverage.report]
fail_under = 53.84

